# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# Production builds
build/
dist/

# Environment files
.env*

# Cache
.cache/

# Logs
*.log

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Temporary files
*.tmp
*.temp